body{
    margin: 0;
    padding: 0;
}

header nav ul{
    list-style: none;
}

#bilde1{
    width: 50%;
    height: 50%;
}

header nav ul li{
    display: flex;
    flex-direction: row;
}

.black-btn{
    text-align: center;
    padding: 20px;
    color: #fff;
    background-color: #000000;
}

#rod-banner{
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    background-color: #cf0000;
    color: #fff;
    font-weight: 400;
}