body{
    margin: 0;
    padding: 0;
    border: 0;
}

header{
    background-color: #fff200;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

header ul li {
    margin-right: 20px;
}

.index-bilde{
    width: 80%;
    height: 80%;
}

.produkt-bilde{
    width: 100%;
}

.produktnavn{
    font-size: 2rem;
    font-weight: 600;
}

.produkt{
    margin-bottom: auto;
}

.prevpris{
    color: #858585;
}

.curpris{
    color: #cf0000;
}


.black-btn {
    text-align: center;
    flex: 1;
    padding: 0.5rem;
    color: #fff;
    background-color: #000000;
    margin: 0 2px; 
    border: 1px solid #ffffff; 
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
}

#produktene{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

#rod-banner{
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    background-color: #cf0000;
    color: #fff;
    font-weight: 400;
}

#legg-i-handlekurv{
    text-align: center;
    flex: 1;
    padding: 0.5rem;
    color: #fff;
    background-color: #000000;
    margin: 0 2px; 
    border: 1px solid #ffffff;
}

.header-liste{
    text-align: right;
    margin-right: 1rem;
}

#handlekurvbilde{
    width: 30%;
}

#logo {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 2rem;
    text-decoration: none;
}

#total-pris{
    font-size: 20px;
    font-weight: 600;
}

#til-kassen{
    color: #000;
    background-color: #fff200;
    padding: 0.5rem;
}

@media screen and (min-width: 600px) {
    .produkt {
        flex-basis: calc(33.33% - 20px); /*Brukte chat gpt for denne linjen*/
        margin-bottom: auto;
    }
    .produkt-bilde{
        width: 40%;
    }
}